@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-track {
    background-color: #38282a;
}

*::-webkit-scrollbar-thumb {
    background-color: #FEAA00;
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url("img/HeaderBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: 1s show_from_small;
    box-shadow: inset 0px -50px 43px -25px #38282a;
}

@keyframes show_from_small {
    0% {
        transform: scale(0.3);
    }
    100% {
        transform: scale(1);
    }

}

@keyframes swing {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(+45px);
    }
    100% {
        transform: translateY(0);
    }
}

.navbar {
    position: fixed;
    top:0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(56, 40, 42, 0.65);
    animation: 1s show;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;
    backdrop-filter: blur(8px);
}

.navbar .logo {
    font-size: 30px;
    font-style: italic;
    margin-right: 30px;
}

.pagebtn {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    transition: 0.15s;
}

.pagebtn:hover {
    background-color: rgba(70, 51, 54, 0.45);
}

.headerTxt {
    font-size: 80px;
    animation: 1s show;
    color: white;
    text-align: center;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

main {
    height: 1650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainBg {
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-color: #38282a;
}

.main-block {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.main-text {
    width: 600px;
    text-align: left;
    font-size: 40px;
    color: #FEAA00;
}

.main-img {
    width: 600px;
}

.main-img img {
    max-width: 100%;
}

.vegetable {
    position: absolute;
    width: 200px;
    height: 200px;
}

.vegetable img {
    max-height: 100%;
    max-width: 100%;
}